@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar{
    width: 2px;
    background: #c08d00;
}

::-webkit-scrollbar-thumb{
    background: #ffbb00;
}